body {
  color: #2a3d45;
  background-color: rgba(234, 250, 241, 0.5);
  color: black;
  font-weight: 500px;
  margin-top: 10%;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  background-color: #9F86C0;
  font-family: 'Amiri', serif;
}
.container {
  margin: 8px 0;
  border: 2px solid #886176;
  box-sizing: border-box;
  border-style: none;
  border-radius: 5px 20px 5px;
  border-style: outset;
  width: 700px;
  padding: 10px 10px 20px 10px;
  border: 1px solid #bfbfbf;
  background-color: white;
  text-align: center;
}
#body {
  display: none;
}

h1 {
  align-items: center;
  font-family: 'Monoton', cursive;
  color: white;
}
#enfin,
#final {
  display: none;
}

.register {
  color: white;
}
